@using Microsoft.AspNetCore.Identity;
    @inject SignInManager<IdentityUser> signInManager;

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - TheBookTown</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TheBookTown</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex  ">


                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Create">Add Book</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ViewAllBooks">Explore Books</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="ListRoles">Manage Roles</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="ListUsers">Manage Users</a>
                            </li>
                           

                        </ul>

                        
                        <ul class="navbar-nav ml-auto ">
                            @if (signInManager.IsSignedIn(User))
                            {
                                <li class="nav-item dropdown">
                                    <a class=" nav-link dropdown-toggle" href="#" id="navbardropdownmenulink" 
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> @User.Identity.Name</a>
                                    <div class="dropdown-menu" aria-labelledby="navbardropdownmenulink">
                                        <form method="post" asp-controller="Account" asp-action="Logout">
                                            <button type="submit" class="dropdown-item">Logout @User.Identity.Name</button>
                                        </form>
                                       
                                        <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                                    </div>
                                </li> 
                               
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                </li>

                            }
                            

                        </ul>

                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>


        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - TheBookTown - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>   Built by Rohit
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>



        @*@if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts", required: true)
        }*@

        @RenderSection("Scripts", required: false)





    </body>
    </html>





    
