@model TheBookTown.ViewModels.HomeDetailsViewModel
    @{
        ViewBag.title = " Book Details";
        var photopath = "/Images/" + (Model.Book.PhotoPath ?? "noimage.png");
        var bookpdfurlpath = "/Pdfs/" + (Model.Book.BookPdfUrlPath ?? "nopdf.png");
    }
       
   

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="@photopath" asp-append-version="true" alt="Card image cap">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h1> @Model.Book.Title</h1>
                    <h4> Author: @Model.Book.Author</h4>
                    <h4> Genre: @Model.Book.Genre</h4>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-primary" href="@bookpdfurlpath"> Read Now</a>
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Book.Id" class="btn btn-primary">Edit</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@Model.Book.Id" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete')">Delete</a>
                    <a asp-controller="Home" asp-action="ViewAllBooks" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

